version: 2
jobs:
  build:
    docker:
      - image: circleci/node:chakracore-8.11-browsers-legacy

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - store_artifacts:
          path: build
          destination: /home/circleci/repo/workspace/pintortico-dist

      - run:
          name: List root
          command: ls /home/circleci/repo

      - persist_to_workspace:
          root: /home/circleci/repo
          paths:
            - build

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      - run: yarn test

  deploy:
    docker:
      - image: circleci/python:2.7-jessie

    working_directory: ~/repo

    steps:
      - attach_workspace:
          at: /home/circleci/repo

      - run:
          name: List repo
          command: ls /home/circleci/repo/build

      - run:
          name: Install awscli
          command: sudo pip install awscli
      - run:
          name: Deploy to S3
          command: aws s3 sync /home/circleci/repo/build s3://pintortico --delete

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: develop
