.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 15vw;
  align-content: space-between;
}

.login {
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
  background: #eee;
  border-radius: 12px;
  border: 1px solid #ccc;
}

input {
  height: 30px;
  margin-top: 5px;
  padding-left: 7px;
  font-size: 13px;
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 25px;
}

label {
  font-size: 14px;
  margin-top: 10px;
}

button {
  padding: 10px 0;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 17px;
  background: #069bd7;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: #0581c1;
}
